root = true

# Matches all JavaScript and JSX files
[*.{js,jsx}]
indent_style = space
indent_size = 2
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# Matches the exact file .editorconfig
[.editorconfig]
indent_style = space
indent_size = 2
